.Bg-gradient {
  background: rgb(77, 108, 111);
  background: linear-gradient(
    45deg,
    rgb(42, 59, 61) 0%,
    rgba(179, 195, 181, 1) 80%
  );
  font-family: $Roboto;
}

.image-Size {
  width: 30px;
}

.small-Screen {
  display: flex;
  justify-content: center;
}
@media screen and(max-width: 600px) {
  .small-Screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .font-Size {
    font-size: 0.8em;
    padding-bottom: 5%;
  }
}

.contact-inputs {
  background-color: #ebe3e3;
  border: 0;
  border-radius: 15px;
  padding: 5px;
  width: 50%;
  padding-left: 1em;
}
.contact-inputs::placeholder {
  font-family: $Roboto;
}
.contact {
  text-decoration: underline;
}

.contact:hover {
  cursor: pointer;
  color: rgb(50, 86, 128);
}

.contact-send-button {
  background-color: #965252;
  color: #fff;
  font-family: $Roboto;
  width: 50%;
  border-radius: 15px;
  padding: 5px;
  border: 0;
}

