.small-screen {
  display: none;
}
@media screen and (max-width: 638px) {
  .small-screen {
    display: block;
  }
  .second-section-wrapper {
    display: none;
  }
  .smoothLine {
    opacity: 1;
    padding-bottom: 0.1px;
    width: 50%;
  }
}
.staticSize {
  height: 400px;
  padding-top: 145px;
}

/***************************************/

.grid-system{
  display: grid;
  grid-column-gap: 50px;
  background-color: chartreuse;
}
.asd {
  width: 100%;
  vertical-align: top;
}

.myCircle{
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 100%;
}

.animCircle{
  animation-name: rrr;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes rrr{
  from{

  }
  to{
    margin-left: 550px;

  }
}

.animCircle2{
  margin-left: 550px;
  animation-name: bbb;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes bbb{
  from{

  }
  to{
    margin-left: 0px;

  }
}
