.small-screen{
    display: none;
}

@media screen and (max-width: 638px) {
    .small-screen{
        display: block;
    }
    .second-section-wrapper{
        display: none;
    }
    .smoothLine{
        opacity: 1;
       padding-bottom: 0.1px;
       width: 50%;
    }
  }